/*Reglas
Selectores
Declaraciones
Propiedades
Valores*/

/*selector de etiqueta header-sectio-article-nav*/
/* header 
{
    background: pink;  
    color: red; 
}
    /*El !important sirve para darle la unica autoridad a este tag.*/

/*selector descendente*/
/* body header div nav ol li a */
/* El selector de clase se declara a través de un punto . */
/* .link */
/* Los selectores de ID se declaran a través de un numeral*/
/* #portafolio */

/* gris oscuro = #1d252c */
/* gris claro = #626262 */
/* background gris = #1b2127 */
/* celeste = #026fff */
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?plx9dv');
  src:  url('../fonts/icomoon.eot?plx9dv#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?plx9dv') format('truetype'),
    url('../fonts/icomoon.woff?plx9dv') format('woff'),
    url('../fonts/icomoon.svg?plx9dv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before{
  content: "\e9bd";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-youtube:before {
  content: "\ea9d";
}

body
{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0px;
}

h1, h2, h3, h4, h5, h6
{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    /*font-style: italic;*/
}

h1
{
    font-size: 29px;
    line-height: 1.5;
    letter-spacing: -.2px;
    color: white;
    margin: 0px;
    /* margin: 100px 150px 70px 30px */
    /* text-transform: uppercase;
    text-decoration: underline; */
}

h1 strong
{
    color: #026fff;
}

h2
{
    color: #026fff;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 40px;
}

.header
{
    background-color: #1b2127;
    color: white;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    /* margin-top: 0px;  */
}

ol, ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}

figure
{
    margin: 0;
}

/* .flexbox
{
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row;
}

.box
{
    width: 20px;
    height: 20px;
    border: 1px solid red;
    flex-shrink: 0;
} */

.container
{
    /* border: 1px solid red; */
    max-width: 1000px;
    /* width: 100px; */
    flex: 1;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}

.menu
{
    height: inherit;
}

.header ol
{
    display: flex;
    height: inherit;
}

.header ol li
{
    height: inherit;
}

.header a
{
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 10px;
    justify-self: ;
}


.hero
{
    height:300px;
    background-color: #1b2127;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    /* ackground-image:url('../img/hero.jpg'); */
    /* background-size: 450px 300px; */
    /* background-repeat: no-repeat; */
    /* background-position-x: right; */
}

.hero_image
{
    object-fit: cover;
}

.news-ancla-button {
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 25px;
    background-color: #056fff;
    color: white;
    outline: none;
    text-decoration: none;
}

.news-ancla-button:hover {
    background-color: #00d3fd;
    font-size: 30px;
    text-decoration: none;
}

.news-ancla-button2 {
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    background-color: #1b2127;
}

.news-ancla-button2 a {
    color: white;
    outline: none;
    text-decoration: none;
}

.news-ancla-button2:hover {
    background-color: #00d3fd;
}

.portfolio
{
    background: #fafafa;
    padding: 20px;
}
.project
{/* border-top-color:red;
    border-width: 15px;
    border-style: solid;
    color:blue;
    border-top: 10px solid red;
    border-right: 10px solid green;
    border-left: 10px solid orange;
    border-bottom: 10px solid pink; */
    /* border-top-left-radius: 50px; */
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 20px;
    background-color: white;
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    flex-wrap: wrap;
}

.project_course, .project_date, .project_url
{
    margin: 10px 0;
}

.project_description
{
    font-size: 20px;
}

/* .project_date
{
    margin-top: 10px 0;
} */

.project strong
{
    font-family: 'Fjalla One', sans-serif;
}

.project_title
{
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.project_title strong {
    color: #026fff;
}

.project_details
{
    width: 50%;
}

.news-button
{
    /* border: 3px solid red; */
    text-align: center;
}

.project_imageContainer
{
    width: 50%;
}

.project_imageContainer img
{
    max-width: 100%;
}

.event_list_title
{
    margin-left: 20px;
}

.event_list
{
    display:flex;
    flex-wrap: wrap;

}
.event
{
    margin: 1%;
    width: 48%;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
    background:#f4fbff;
}

.event img 
{
    width: 480px;
    height: 200px;
    object-fit: cover;
}

.event_details
{
    margin: 20px 40px;
    margin-top: -40px;
    background-color: white;
    position: relative;
    padding: 20px;
    text-align: center;
}

.event_description
{
    text-align: left;
}

.event_url
{
    color: #026fff;
    border: 1px solid;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.contact
{
   background-color: #056fff;
   color:white;
   height: 150px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
}

.social_link
{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    margin: 0px 10px;
}

.social_link.twitter
{
    background-image: url('../img/twitter.svg');
}
.social_link.facebook
{
    background-image: url('../img/facebook.svg');
}
.social_link.youtube
{
    background-image: url('../img/youtube.svg');
    /* background-repeat: no-repeat; */
    /* background-size: 50px 50px; */
}
.social_link.instagram
{
    background-image: url('../img/instagram.svg');
}

.form_email input
{
   border-color: gray;
   border-radius: 5px;
   border-style: solid;
   padding: 10px 20px 10px 25px;
   background-image: url('../img/envelope.svg');
   background-size: 15px 15px;
   background-repeat: no-repeat;
   background-position-y: center; 
   background-position-x: 5px;
}

.form_email button
{
    display: block;
    background: transparent;
    color: white;
    padding: 10px 0px;
    border-radius: 5px;
    width: 100px;
    margin-top: 10px;
}

.form_email h3
{
    font-family: 'Source Sans Pro', sans-serif;
}

.footer
{
    background-color: #1b2127;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer img
{
    vertical-align: middle;
}

.footer a
{
    color: white;
}

.video {
    /* display: block; */
    text-align: center;
    /* background-color: #1b2127; */
    /* padding: 56.60%; */
}
.html_video {
    width: 100%;
    height: 268px;
    background-color: #1b2127;
    /* padding: 56.60%;  */
}

.flexible_video{
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    position: relative;
}
.youtube_video{
    position: absolute;
    top: 0;
    bottom: 0;
    right:0;
    left: 0;
    height: 100%;
    width:100%;
}

.burger_button{
    width:40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .8);
    display:none;
    line-height: 40px;
    text-align: center;
    position: fixed;
    z-index: 4;
    left: 5px;
    top: 5px;
    color: white;
}

/*Desktop first que empieces desde el MQ más grande*/

@media screen and (max-width: 1023px)
{
    .portfolio {
        padding: 0px;
    }
    .event_list_title {
        margin-left: 0;
    }
    .container
    {
        padding: 0 1em;
    }

    .hero {
        height: auto;
        position: relative;
        overflow: hidden;
        padding: 2em;
    }

    h1 {
        font-size: 2em;
        z-index: 2;
    }

    .hero_image{
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width:100%;
        height: 850px;
    }
}

@media screen and (max-width: 768px)
{

    .hero_image
    {
        position: relative;
        width: 400px;
        height: 400px;
    }
    .hero div.container img {
        margin-left: 130px;
        margin-top: 25px;
    }

    h2 {
        font-size: 1.2em;
        margin: .5em, 0;
    }
    .menu{
        position: fixed;
        background: rgba(5, 111, 255, .8);
        z-index: 3;
        top: 0;
        left: -100vw;
        width: 100vw;
        /* height: 100vh; */
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;
    }

    .menu.is-active{
        left: 0;
    }

    .burger_button{
        display: block;
    }
    .header {
        display: block;
        height: auto;
    }
    .header ol {
        display: block;
    }
    .header ol li{
        height: 50px;
    }
    .header a {
        justify-content: center;
        height: 40px;
        font-size: 2em;
        text-decoration: underline;
        margin-bottom: .5em;
    }
    .header .logo {
        text-align: center;
    }
    .hero_image{
        height: auto;
    }

    .project 
    {
        display: block;
    }

    .project_imageContainer
    {
        width: auto;
        text-align: center;
    }

    .project_details
    {
        width: auto;
        font-size: 16px;
    }

    .project_course, .project_date, .project_url
    {
    margin: .3em 0;
    }

    .project_title
    {
        font-size: 1.5em;
        margin-bottom: .3em;
    }
    .project_url
    {
        font-size: 1em;
    }

    .project_course
    {
        font-size: .7em;
    }

    .project_date
    {
        font-size: 1em;
    }

    .project_description
    {
        font-size: 1em;
    }

    .event 
    {
        width: auto;
        flex-shrink: initial;
    }
    .event img
    {
        width: 100%;
    }

    .event_details
    {
        margin: -2em .5em .5em;
        padding: 1em;
    }
}
@media screen and (max-width: 480px)
{

    .hero_image
    {
        position: relative;
        width: 350px;
        height: 350px;
    }
    .hero div.container img {
        margin-left: 0px;
        margin-top: 25px;
    }

    h1 {
        font-size: 1.5em;
    }
    .project_details{

        font-size: 14px;
    }

    .event_details
    {
        margin: -2em .5em .5em;
        padding: 1em;
    }

    .contact
    {
        height:auto;
        padding: 1.5em 0;
        text-align: center;
        display: block;
    }

    .form_email button{
        margin: 1em auto;
    }
    .form_email h3 {
        margin-top: 0;
    }

    .footer {
        display: block;
        text-align: center;
        border: 1px solid transparent;
    }

    .social_link{
        width:40px;
        height: 40px;
        background-size: 100%;
    }

}
@media screen and (max-width: 320px)
{
    h1 {
        font-size: 1.2em;
        /* background: rgba(0,0,0,.5); */
    }
    .hero{
        padding: 2em 1em;
    }

    .hero_image
    {
        position: relative;
        width: 250px;
        height: 250px;
    }
    .hero div.container img {
        margin-left: 0px;
        margin-top: 25px;
    }
}